<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>RoomieMatch</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description>getMembers</description>
    <display-name>getMembers</display-name>
    <servlet-name>getMembers</servlet-name>
    <servlet-class>root.getMembers</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getMembers</servlet-name>
    <url-pattern>/getMembers</url-pattern>
  </servlet-mapping>
   <servlet>
    <description>singleprofile</description>
    <display-name>sileprofile</display-name>
    <servlet-name>singleprofile</servlet-name> 
    <servlet-class>root.singleprofile</servlet-class>
    </servlet>
<servlet-mapping>
    <servlet-name>singleprofile</servlet-name>
    <url-pattern>/singleprofile</url-pattern>
</servlet-mapping>
</web-app>